<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="../static/js/login-page.js"></script>
    <link rel="stylesheet" href="../static/css/login-page.css" type="text/css">
</head>
<body>
    <div class="form-container">
        <div class="form-login">
            <form action="#" th:action="@{${baseUrl}/authenticateUser}" method="POST">
                <h2>Login</h2>
                <div class="input-group">
                    <i class="fa fa-user"></i>
                    <input type="text" name="username" class="input-text" autocomplete="off" placeholder="User Name">
                </div>
                <div class="input-group">
                    <i class="fa fa-unlock-alt"></i>
                    <input type="password" name="password" class="input-text" autocomplete="off" placeholder="Password">
                </div>
                <div class="" id="login-button">
                    <button>Submit</button>
                </div>
                <div class="footer">
                    <a>Forgot Password ?</a>
                    <a>Sign Up</a>
                </div>
            </form>
        </div>
    </div>
    <!--
    <div class="grid-container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="form-container">
                    <form action="#" th:action="@{/authenticateUser}" method="post">
                        <div class="input-container">
                            <br>
                            <input type="text" name="username" autocomplete="off" placeholder="Username">
                        </div>
                        <br><br>
                        <div class="input-container">
                            <br>
                            <input type="password" name="password" autocomplete="off" placeholder="Password">
                        </div>
                        <br><br>
                        <div class="button-container">
                            <br>
                            <button type="submit">
                                <span>Login</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>